<h3>About Light Paste</h3>
<p>
    Light Paste is a lightweight paste service written in
    <a href="https://php.net">PHP</a> using the
    <a href="http://fatfreeframework.com">Fat-Free Framework.</a>
    It aims to provide a simple, customizable user interface and fast load times.
</p>
<div class="content-divider"></div>
<h3>Keyboard Shortcuts</h3>
<p>
    Light Paste supports keyboard shortcuts for several operations:
</p>
<div class="form-row">
    <div class="form-cell form-label-color">CTRL-ALT-S</div>
    <div class="form-cell">Save paste</div>
    <div style="clear: both;"></div>
</div>
<div class="form-row">
    <div class="form-cell form-label-color">CTRL-ALT-Q</div>
    <div class="form-cell">Toggle Line Numbers</div>
    <div style="clear: both;"></div>
</div>
<div class="form-row">
    <div class="form-cell form-label-color">CTRL-ALT-W</div>
    <div class="form-cell">Toggle Word Wrap</div>
    <div style="clear: both;"></div>
</div>
<div class="form-row">
    <div class="form-cell form-label-color">CTRL-ALT-E</div>
    <div class="form-cell">Toggle Smart Indent</div>
    <div style="clear: both;"></div>
</div>
<div class="form-row">
    <div class="form-cell form-label-color">CTRL-ALT-A</div>
    <div class="form-cell">Toggle Bracket Matching</div>
    <div style="clear: both;"></div>
</div>
<div class="form-row">
    <div class="form-cell form-label-color">CTRL-ALT-Z</div>
    <div class="form-cell">Toggle Tag Matching</div>
    <div style="clear: both;"></div>
</div>
<div class="form-row">
    <div class="form-cell form-label-color">CTRL-ALT-X</div>
    <div class="form-cell">Toggle Active Line Highlighting</div>
    <div style="clear: both;"></div>
</div>
<div class="form-row">
    <div class="form-cell form-label-color">CTRL-ALT-C</div>
    <div class="form-cell">Toggle Occurrence Highlighting</div>
    <div style="clear: both;"></div>
</div>
<div class="form-row">
    <div class="form-cell form-label-color">CTRL-ALT-V</div>
    <div class="form-cell">Toggle Vertical Ruler</div>
    <div style="clear: both;"></div>
</div>
<div class="form-row">
    <div class="form-cell form-label-color">CTRL-ALT-F</div>
    <div class="form-cell">Toggle Folding</div>
    <div style="clear: both;"></div>
</div>
<div class="content-divider"></div>
<p>Version {{@VERSION}}</p>
